#############################################################
#### Followings need to be copied to .env.production
#### And inline by Next.js during docker build
#############################################################

NEXT_PUBLIC_APP_NAME=Proselog
NEXT_PUBLIC_OUR_DOMAIN=localhost:3000
NEXT_PUBLIC_R2_URL=https://r2.egoist.workers.dev

#############################################################
#### Followings are runtime secrets set via Fly CLI
#############################################################

DATABASE_URL='postgres://postgres:pass@localhost:5432/proselog?schema=public'

AUTH_COOKIE_NAME=proselog.token

# openssl rand -base64 32
ENCRYPT_SECRET=uIeqyCW1E5PbK2ztsc+UXcPwsZ0L/Z4k08ArOSaKpHHFViRbdnFJcQ==

MAILGUN_APIKEY=
MAILGUN_DOMAIN=
