node_modules

.DS_Store
dist
.next
.vercel
.env
.env.production
.env.development.local
generated/
test-results/
tsconfig.tsbuildinfo
.eslintcache
server.js

# IDE Specific
.idea
.vscode
.vim

public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
