node_modules

.DS_Store
dist
.next
.vercel
.env
.env.production
generated/
test-results/

# IDE Specific
.idea
.vscode

public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js