pre {
  @apply rounded-xl;
  @apply my-7;
  @apply p-5;
  background-color: var(--code-bg);
  color: var(--code-fg);
  @apply text-sm;
}

:not(pre) > code {
  @apply inline-flex items-center font-mono break-all leading-snug px-1;
  background-color: var(--code-bg);
  color: var(--code-fg);
}

.line-number::before {
  @apply inline-block w-4 text-right mr-5 -ml-2 text-zinc-400;
  content: attr(line);
}
