:root {
  --tw-colors-i-slate-50: 248, 250, 252;
  --tw-colors-i-slate-100: 241, 245, 249;
  --tw-colors-i-slate-200: 226, 232, 240;
  --tw-colors-i-slate-300: 203, 213, 225;
  --tw-colors-i-slate-400: 148, 163, 184;
  --tw-colors-i-slate-500: 100, 116, 139;
  --tw-colors-i-slate-600: 71, 85, 105;
  --tw-colors-i-slate-700: 51, 65, 85;
  --tw-colors-i-slate-800: 30, 41, 59;
  --tw-colors-i-slate-900: 15, 23, 42;
  --tw-colors-i-slate-950: 2, 6, 23;
  --tw-colors-i-gray-50: 249, 250, 251;
  --tw-colors-i-gray-100: 243, 244, 246;
  --tw-colors-i-gray-200: 229, 231, 235;
  --tw-colors-i-gray-300: 209, 213, 219;
  --tw-colors-i-gray-400: 156, 163, 175;
  --tw-colors-i-gray-500: 107, 114, 128;
  --tw-colors-i-gray-600: 75, 85, 99;
  --tw-colors-i-gray-700: 55, 65, 81;
  --tw-colors-i-gray-800: 31, 41, 55;
  --tw-colors-i-gray-900: 17, 24, 39;
  --tw-colors-i-gray-950: 3, 7, 18;
  --tw-colors-i-zinc-50: 250, 250, 250;
  --tw-colors-i-zinc-100: 244, 244, 245;
  --tw-colors-i-zinc-200: 228, 228, 231;
  --tw-colors-i-zinc-300: 212, 212, 216;
  --tw-colors-i-zinc-400: 161, 161, 170;
  --tw-colors-i-zinc-500: 113, 113, 122;
  --tw-colors-i-zinc-600: 82, 82, 91;
  --tw-colors-i-zinc-700: 63, 63, 70;
  --tw-colors-i-zinc-800: 39, 39, 42;
  --tw-colors-i-zinc-900: 24, 24, 27;
  --tw-colors-i-zinc-950: 9, 9, 11;
  --tw-colors-i-neutral-50: 250, 250, 250;
  --tw-colors-i-neutral-100: 245, 245, 245;
  --tw-colors-i-neutral-200: 229, 229, 229;
  --tw-colors-i-neutral-300: 212, 212, 212;
  --tw-colors-i-neutral-400: 163, 163, 163;
  --tw-colors-i-neutral-500: 115, 115, 115;
  --tw-colors-i-neutral-600: 82, 82, 82;
  --tw-colors-i-neutral-700: 64, 64, 64;
  --tw-colors-i-neutral-800: 38, 38, 38;
  --tw-colors-i-neutral-900: 23, 23, 23;
  --tw-colors-i-neutral-950: 10, 10, 10;
  --tw-colors-i-stone-50: 250, 250, 249;
  --tw-colors-i-stone-100: 245, 245, 244;
  --tw-colors-i-stone-200: 231, 229, 228;
  --tw-colors-i-stone-300: 214, 211, 209;
  --tw-colors-i-stone-400: 168, 162, 158;
  --tw-colors-i-stone-500: 120, 113, 108;
  --tw-colors-i-stone-600: 87, 83, 78;
  --tw-colors-i-stone-700: 68, 64, 60;
  --tw-colors-i-stone-800: 41, 37, 36;
  --tw-colors-i-stone-900: 28, 25, 23;
  --tw-colors-i-stone-950: 12, 10, 9;
  --tw-colors-i-red-50: 254, 242, 242;
  --tw-colors-i-red-100: 254, 226, 226;
  --tw-colors-i-red-200: 254, 202, 202;
  --tw-colors-i-red-300: 252, 165, 165;
  --tw-colors-i-red-400: 248, 113, 113;
  --tw-colors-i-red-500: 239, 68, 68;
  --tw-colors-i-red-600: 220, 38, 38;
  --tw-colors-i-red-700: 185, 28, 28;
  --tw-colors-i-red-800: 153, 27, 27;
  --tw-colors-i-red-900: 127, 29, 29;
  --tw-colors-i-red-950: 69, 10, 10;
  --tw-colors-i-orange-50: 255, 247, 237;
  --tw-colors-i-orange-100: 255, 237, 213;
  --tw-colors-i-orange-200: 254, 215, 170;
  --tw-colors-i-orange-300: 253, 186, 116;
  --tw-colors-i-orange-400: 251, 146, 60;
  --tw-colors-i-orange-500: 249, 115, 22;
  --tw-colors-i-orange-600: 234, 88, 12;
  --tw-colors-i-orange-700: 194, 65, 12;
  --tw-colors-i-orange-800: 154, 52, 18;
  --tw-colors-i-orange-900: 124, 45, 18;
  --tw-colors-i-orange-950: 67, 20, 7;
  --tw-colors-i-amber-50: 255, 251, 235;
  --tw-colors-i-amber-100: 254, 243, 199;
  --tw-colors-i-amber-200: 253, 230, 138;
  --tw-colors-i-amber-300: 252, 211, 77;
  --tw-colors-i-amber-400: 251, 191, 36;
  --tw-colors-i-amber-500: 245, 158, 11;
  --tw-colors-i-amber-600: 217, 119, 6;
  --tw-colors-i-amber-700: 180, 83, 9;
  --tw-colors-i-amber-800: 146, 64, 14;
  --tw-colors-i-amber-900: 120, 53, 15;
  --tw-colors-i-amber-950: 69, 26, 3;
  --tw-colors-i-yellow-50: 254, 252, 232;
  --tw-colors-i-yellow-100: 254, 249, 195;
  --tw-colors-i-yellow-200: 254, 240, 138;
  --tw-colors-i-yellow-300: 253, 224, 71;
  --tw-colors-i-yellow-400: 250, 204, 21;
  --tw-colors-i-yellow-500: 234, 179, 8;
  --tw-colors-i-yellow-600: 202, 138, 4;
  --tw-colors-i-yellow-700: 161, 98, 7;
  --tw-colors-i-yellow-800: 133, 77, 14;
  --tw-colors-i-yellow-900: 113, 63, 18;
  --tw-colors-i-yellow-950: 66, 32, 6;
  --tw-colors-i-lime-50: 247, 254, 231;
  --tw-colors-i-lime-100: 236, 252, 203;
  --tw-colors-i-lime-200: 217, 249, 157;
  --tw-colors-i-lime-300: 190, 242, 100;
  --tw-colors-i-lime-400: 163, 230, 53;
  --tw-colors-i-lime-500: 132, 204, 22;
  --tw-colors-i-lime-600: 101, 163, 13;
  --tw-colors-i-lime-700: 77, 124, 15;
  --tw-colors-i-lime-800: 63, 98, 18;
  --tw-colors-i-lime-900: 54, 83, 20;
  --tw-colors-i-lime-950: 26, 46, 5;
  --tw-colors-i-green-50: 240, 253, 244;
  --tw-colors-i-green-100: 220, 252, 231;
  --tw-colors-i-green-200: 187, 247, 208;
  --tw-colors-i-green-300: 134, 239, 172;
  --tw-colors-i-green-400: 74, 222, 128;
  --tw-colors-i-green-500: 34, 197, 94;
  --tw-colors-i-green-600: 22, 163, 74;
  --tw-colors-i-green-700: 21, 128, 61;
  --tw-colors-i-green-800: 22, 101, 52;
  --tw-colors-i-green-900: 20, 83, 45;
  --tw-colors-i-green-950: 5, 46, 22;
  --tw-colors-i-emerald-50: 236, 253, 245;
  --tw-colors-i-emerald-100: 209, 250, 229;
  --tw-colors-i-emerald-200: 167, 243, 208;
  --tw-colors-i-emerald-300: 110, 231, 183;
  --tw-colors-i-emerald-400: 52, 211, 153;
  --tw-colors-i-emerald-500: 16, 185, 129;
  --tw-colors-i-emerald-600: 5, 150, 105;
  --tw-colors-i-emerald-700: 4, 120, 87;
  --tw-colors-i-emerald-800: 6, 95, 70;
  --tw-colors-i-emerald-900: 6, 78, 59;
  --tw-colors-i-emerald-950: 2, 44, 34;
  --tw-colors-i-teal-50: 240, 253, 250;
  --tw-colors-i-teal-100: 204, 251, 241;
  --tw-colors-i-teal-200: 153, 246, 228;
  --tw-colors-i-teal-300: 94, 234, 212;
  --tw-colors-i-teal-400: 45, 212, 191;
  --tw-colors-i-teal-500: 20, 184, 166;
  --tw-colors-i-teal-600: 13, 148, 136;
  --tw-colors-i-teal-700: 15, 118, 110;
  --tw-colors-i-teal-800: 17, 94, 89;
  --tw-colors-i-teal-900: 19, 78, 74;
  --tw-colors-i-teal-950: 4, 47, 46;
  --tw-colors-i-cyan-50: 236, 254, 255;
  --tw-colors-i-cyan-100: 207, 250, 254;
  --tw-colors-i-cyan-200: 165, 243, 252;
  --tw-colors-i-cyan-300: 103, 232, 249;
  --tw-colors-i-cyan-400: 34, 211, 238;
  --tw-colors-i-cyan-500: 6, 182, 212;
  --tw-colors-i-cyan-600: 8, 145, 178;
  --tw-colors-i-cyan-700: 14, 116, 144;
  --tw-colors-i-cyan-800: 21, 94, 117;
  --tw-colors-i-cyan-900: 22, 78, 99;
  --tw-colors-i-cyan-950: 8, 51, 68;
  --tw-colors-i-sky-50: 240, 249, 255;
  --tw-colors-i-sky-100: 224, 242, 254;
  --tw-colors-i-sky-200: 186, 230, 253;
  --tw-colors-i-sky-300: 125, 211, 252;
  --tw-colors-i-sky-400: 56, 189, 248;
  --tw-colors-i-sky-500: 14, 165, 233;
  --tw-colors-i-sky-600: 2, 132, 199;
  --tw-colors-i-sky-700: 3, 105, 161;
  --tw-colors-i-sky-800: 7, 89, 133;
  --tw-colors-i-sky-900: 12, 74, 110;
  --tw-colors-i-sky-950: 8, 47, 73;
  --tw-colors-i-blue-50: 239, 246, 255;
  --tw-colors-i-blue-100: 219, 234, 254;
  --tw-colors-i-blue-200: 191, 219, 254;
  --tw-colors-i-blue-300: 147, 197, 253;
  --tw-colors-i-blue-400: 96, 165, 250;
  --tw-colors-i-blue-500: 59, 130, 246;
  --tw-colors-i-blue-600: 37, 99, 235;
  --tw-colors-i-blue-700: 29, 78, 216;
  --tw-colors-i-blue-800: 30, 64, 175;
  --tw-colors-i-blue-900: 30, 58, 138;
  --tw-colors-i-blue-950: 23, 37, 84;
  --tw-colors-i-indigo-50: 238, 242, 255;
  --tw-colors-i-indigo-100: 224, 231, 255;
  --tw-colors-i-indigo-200: 199, 210, 254;
  --tw-colors-i-indigo-300: 165, 180, 252;
  --tw-colors-i-indigo-400: 129, 140, 248;
  --tw-colors-i-indigo-500: 99, 102, 241;
  --tw-colors-i-indigo-600: 79, 70, 229;
  --tw-colors-i-indigo-700: 67, 56, 202;
  --tw-colors-i-indigo-800: 55, 48, 163;
  --tw-colors-i-indigo-900: 49, 46, 129;
  --tw-colors-i-indigo-950: 30, 27, 75;
  --tw-colors-i-violet-50: 245, 243, 255;
  --tw-colors-i-violet-100: 237, 233, 254;
  --tw-colors-i-violet-200: 221, 214, 254;
  --tw-colors-i-violet-300: 196, 181, 253;
  --tw-colors-i-violet-400: 167, 139, 250;
  --tw-colors-i-violet-500: 139, 92, 246;
  --tw-colors-i-violet-600: 124, 58, 237;
  --tw-colors-i-violet-700: 109, 40, 217;
  --tw-colors-i-violet-800: 91, 33, 182;
  --tw-colors-i-violet-900: 76, 29, 149;
  --tw-colors-i-violet-950: 46, 16, 101;
  --tw-colors-i-purple-50: 250, 245, 255;
  --tw-colors-i-purple-100: 243, 232, 255;
  --tw-colors-i-purple-200: 233, 213, 255;
  --tw-colors-i-purple-300: 216, 180, 254;
  --tw-colors-i-purple-400: 192, 132, 252;
  --tw-colors-i-purple-500: 168, 85, 247;
  --tw-colors-i-purple-600: 147, 51, 234;
  --tw-colors-i-purple-700: 126, 34, 206;
  --tw-colors-i-purple-800: 107, 33, 168;
  --tw-colors-i-purple-900: 88, 28, 135;
  --tw-colors-i-purple-950: 59, 7, 100;
  --tw-colors-i-fuchsia-50: 253, 244, 255;
  --tw-colors-i-fuchsia-100: 250, 232, 255;
  --tw-colors-i-fuchsia-200: 245, 208, 254;
  --tw-colors-i-fuchsia-300: 240, 171, 252;
  --tw-colors-i-fuchsia-400: 232, 121, 249;
  --tw-colors-i-fuchsia-500: 217, 70, 239;
  --tw-colors-i-fuchsia-600: 192, 38, 211;
  --tw-colors-i-fuchsia-700: 162, 28, 175;
  --tw-colors-i-fuchsia-800: 134, 25, 143;
  --tw-colors-i-fuchsia-900: 112, 26, 117;
  --tw-colors-i-fuchsia-950: 74, 4, 78;
  --tw-colors-i-pink-50: 253, 242, 248;
  --tw-colors-i-pink-100: 252, 231, 243;
  --tw-colors-i-pink-200: 251, 207, 232;
  --tw-colors-i-pink-300: 249, 168, 212;
  --tw-colors-i-pink-400: 244, 114, 182;
  --tw-colors-i-pink-500: 236, 72, 153;
  --tw-colors-i-pink-600: 219, 39, 119;
  --tw-colors-i-pink-700: 190, 24, 93;
  --tw-colors-i-pink-800: 157, 23, 77;
  --tw-colors-i-pink-900: 131, 24, 67;
  --tw-colors-i-pink-950: 80, 7, 36;
  --tw-colors-i-rose-50: 255, 241, 242;
  --tw-colors-i-rose-100: 255, 228, 230;
  --tw-colors-i-rose-200: 254, 205, 211;
  --tw-colors-i-rose-300: 253, 164, 175;
  --tw-colors-i-rose-400: 251, 113, 133;
  --tw-colors-i-rose-500: 244, 63, 94;
  --tw-colors-i-rose-600: 225, 29, 72;
  --tw-colors-i-rose-700: 190, 18, 60;
  --tw-colors-i-rose-800: 159, 18, 57;
  --tw-colors-i-rose-900: 136, 19, 55;
  --tw-colors-i-rose-950: 76, 5, 25;
  --tw-colors-i-black: 0, 0, 0;
  --tw-colors-i-white: 255, 255, 255;
}

html.dark {
  --tw-colors-i-slate-50: 2, 6, 23;
  --tw-colors-i-slate-100: 15, 23, 42;
  --tw-colors-i-slate-200: 30, 41, 59;
  --tw-colors-i-slate-300: 51, 65, 85;
  --tw-colors-i-slate-400: 71, 85, 105;
  --tw-colors-i-slate-500: 100, 116, 139;
  --tw-colors-i-slate-600: 148, 163, 184;
  --tw-colors-i-slate-700: 203, 213, 225;
  --tw-colors-i-slate-800: 226, 232, 240;
  --tw-colors-i-slate-900: 241, 245, 249;
  --tw-colors-i-slate-950: 248, 250, 252;
  --tw-colors-i-gray-50: 3, 7, 18;
  --tw-colors-i-gray-100: 17, 24, 39;
  --tw-colors-i-gray-200: 31, 41, 55;
  --tw-colors-i-gray-300: 55, 65, 81;
  --tw-colors-i-gray-400: 75, 85, 99;
  --tw-colors-i-gray-500: 107, 114, 128;
  --tw-colors-i-gray-600: 156, 163, 175;
  --tw-colors-i-gray-700: 209, 213, 219;
  --tw-colors-i-gray-800: 229, 231, 235;
  --tw-colors-i-gray-900: 243, 244, 246;
  --tw-colors-i-gray-950: 249, 250, 251;
  --tw-colors-i-zinc-50: 9, 9, 11;
  --tw-colors-i-zinc-100: 24, 24, 27;
  --tw-colors-i-zinc-200: 39, 39, 42;
  --tw-colors-i-zinc-300: 63, 63, 70;
  --tw-colors-i-zinc-400: 82, 82, 91;
  --tw-colors-i-zinc-500: 113, 113, 122;
  --tw-colors-i-zinc-600: 161, 161, 170;
  --tw-colors-i-zinc-700: 212, 212, 216;
  --tw-colors-i-zinc-800: 228, 228, 231;
  --tw-colors-i-zinc-900: 244, 244, 245;
  --tw-colors-i-zinc-950: 250, 250, 250;
  --tw-colors-i-neutral-50: 10, 10, 10;
  --tw-colors-i-neutral-100: 23, 23, 23;
  --tw-colors-i-neutral-200: 38, 38, 38;
  --tw-colors-i-neutral-300: 64, 64, 64;
  --tw-colors-i-neutral-400: 82, 82, 82;
  --tw-colors-i-neutral-500: 115, 115, 115;
  --tw-colors-i-neutral-600: 163, 163, 163;
  --tw-colors-i-neutral-700: 212, 212, 212;
  --tw-colors-i-neutral-800: 229, 229, 229;
  --tw-colors-i-neutral-900: 245, 245, 245;
  --tw-colors-i-neutral-950: 250, 250, 250;
  --tw-colors-i-stone-50: 12, 10, 9;
  --tw-colors-i-stone-100: 28, 25, 23;
  --tw-colors-i-stone-200: 41, 37, 36;
  --tw-colors-i-stone-300: 68, 64, 60;
  --tw-colors-i-stone-400: 87, 83, 78;
  --tw-colors-i-stone-500: 120, 113, 108;
  --tw-colors-i-stone-600: 168, 162, 158;
  --tw-colors-i-stone-700: 214, 211, 209;
  --tw-colors-i-stone-800: 231, 229, 228;
  --tw-colors-i-stone-900: 245, 245, 244;
  --tw-colors-i-stone-950: 250, 250, 249;
  --tw-colors-i-red-50: 69, 10, 10;
  --tw-colors-i-red-100: 127, 29, 29;
  --tw-colors-i-red-200: 153, 27, 27;
  --tw-colors-i-red-300: 185, 28, 28;
  --tw-colors-i-red-400: 220, 38, 38;
  --tw-colors-i-red-500: 239, 68, 68;
  --tw-colors-i-red-600: 248, 113, 113;
  --tw-colors-i-red-700: 252, 165, 165;
  --tw-colors-i-red-800: 254, 202, 202;
  --tw-colors-i-red-900: 254, 226, 226;
  --tw-colors-i-red-950: 254, 242, 242;
  --tw-colors-i-orange-50: 67, 20, 7;
  --tw-colors-i-orange-100: 124, 45, 18;
  --tw-colors-i-orange-200: 154, 52, 18;
  --tw-colors-i-orange-300: 194, 65, 12;
  --tw-colors-i-orange-400: 234, 88, 12;
  --tw-colors-i-orange-500: 249, 115, 22;
  --tw-colors-i-orange-600: 251, 146, 60;
  --tw-colors-i-orange-700: 253, 186, 116;
  --tw-colors-i-orange-800: 254, 215, 170;
  --tw-colors-i-orange-900: 255, 237, 213;
  --tw-colors-i-orange-950: 255, 247, 237;
  --tw-colors-i-amber-50: 69, 26, 3;
  --tw-colors-i-amber-100: 120, 53, 15;
  --tw-colors-i-amber-200: 146, 64, 14;
  --tw-colors-i-amber-300: 180, 83, 9;
  --tw-colors-i-amber-400: 217, 119, 6;
  --tw-colors-i-amber-500: 245, 158, 11;
  --tw-colors-i-amber-600: 251, 191, 36;
  --tw-colors-i-amber-700: 252, 211, 77;
  --tw-colors-i-amber-800: 253, 230, 138;
  --tw-colors-i-amber-900: 254, 243, 199;
  --tw-colors-i-amber-950: 255, 251, 235;
  --tw-colors-i-yellow-50: 66, 32, 6;
  --tw-colors-i-yellow-100: 113, 63, 18;
  --tw-colors-i-yellow-200: 133, 77, 14;
  --tw-colors-i-yellow-300: 161, 98, 7;
  --tw-colors-i-yellow-400: 202, 138, 4;
  --tw-colors-i-yellow-500: 234, 179, 8;
  --tw-colors-i-yellow-600: 250, 204, 21;
  --tw-colors-i-yellow-700: 253, 224, 71;
  --tw-colors-i-yellow-800: 254, 240, 138;
  --tw-colors-i-yellow-900: 254, 249, 195;
  --tw-colors-i-yellow-950: 254, 252, 232;
  --tw-colors-i-lime-50: 26, 46, 5;
  --tw-colors-i-lime-100: 54, 83, 20;
  --tw-colors-i-lime-200: 63, 98, 18;
  --tw-colors-i-lime-300: 77, 124, 15;
  --tw-colors-i-lime-400: 101, 163, 13;
  --tw-colors-i-lime-500: 132, 204, 22;
  --tw-colors-i-lime-600: 163, 230, 53;
  --tw-colors-i-lime-700: 190, 242, 100;
  --tw-colors-i-lime-800: 217, 249, 157;
  --tw-colors-i-lime-900: 236, 252, 203;
  --tw-colors-i-lime-950: 247, 254, 231;
  --tw-colors-i-green-50: 5, 46, 22;
  --tw-colors-i-green-100: 20, 83, 45;
  --tw-colors-i-green-200: 22, 101, 52;
  --tw-colors-i-green-300: 21, 128, 61;
  --tw-colors-i-green-400: 22, 163, 74;
  --tw-colors-i-green-500: 34, 197, 94;
  --tw-colors-i-green-600: 74, 222, 128;
  --tw-colors-i-green-700: 134, 239, 172;
  --tw-colors-i-green-800: 187, 247, 208;
  --tw-colors-i-green-900: 220, 252, 231;
  --tw-colors-i-green-950: 240, 253, 244;
  --tw-colors-i-emerald-50: 2, 44, 34;
  --tw-colors-i-emerald-100: 6, 78, 59;
  --tw-colors-i-emerald-200: 6, 95, 70;
  --tw-colors-i-emerald-300: 4, 120, 87;
  --tw-colors-i-emerald-400: 5, 150, 105;
  --tw-colors-i-emerald-500: 16, 185, 129;
  --tw-colors-i-emerald-600: 52, 211, 153;
  --tw-colors-i-emerald-700: 110, 231, 183;
  --tw-colors-i-emerald-800: 167, 243, 208;
  --tw-colors-i-emerald-900: 209, 250, 229;
  --tw-colors-i-emerald-950: 236, 253, 245;
  --tw-colors-i-teal-50: 4, 47, 46;
  --tw-colors-i-teal-100: 19, 78, 74;
  --tw-colors-i-teal-200: 17, 94, 89;
  --tw-colors-i-teal-300: 15, 118, 110;
  --tw-colors-i-teal-400: 13, 148, 136;
  --tw-colors-i-teal-500: 20, 184, 166;
  --tw-colors-i-teal-600: 45, 212, 191;
  --tw-colors-i-teal-700: 94, 234, 212;
  --tw-colors-i-teal-800: 153, 246, 228;
  --tw-colors-i-teal-900: 204, 251, 241;
  --tw-colors-i-teal-950: 240, 253, 250;
  --tw-colors-i-cyan-50: 8, 51, 68;
  --tw-colors-i-cyan-100: 22, 78, 99;
  --tw-colors-i-cyan-200: 21, 94, 117;
  --tw-colors-i-cyan-300: 14, 116, 144;
  --tw-colors-i-cyan-400: 8, 145, 178;
  --tw-colors-i-cyan-500: 6, 182, 212;
  --tw-colors-i-cyan-600: 34, 211, 238;
  --tw-colors-i-cyan-700: 103, 232, 249;
  --tw-colors-i-cyan-800: 165, 243, 252;
  --tw-colors-i-cyan-900: 207, 250, 254;
  --tw-colors-i-cyan-950: 236, 254, 255;
  --tw-colors-i-sky-50: 8, 47, 73;
  --tw-colors-i-sky-100: 12, 74, 110;
  --tw-colors-i-sky-200: 7, 89, 133;
  --tw-colors-i-sky-300: 3, 105, 161;
  --tw-colors-i-sky-400: 2, 132, 199;
  --tw-colors-i-sky-500: 14, 165, 233;
  --tw-colors-i-sky-600: 56, 189, 248;
  --tw-colors-i-sky-700: 125, 211, 252;
  --tw-colors-i-sky-800: 186, 230, 253;
  --tw-colors-i-sky-900: 224, 242, 254;
  --tw-colors-i-sky-950: 240, 249, 255;
  --tw-colors-i-blue-50: 23, 37, 84;
  --tw-colors-i-blue-100: 30, 58, 138;
  --tw-colors-i-blue-200: 30, 64, 175;
  --tw-colors-i-blue-300: 29, 78, 216;
  --tw-colors-i-blue-400: 37, 99, 235;
  --tw-colors-i-blue-500: 59, 130, 246;
  --tw-colors-i-blue-600: 96, 165, 250;
  --tw-colors-i-blue-700: 147, 197, 253;
  --tw-colors-i-blue-800: 191, 219, 254;
  --tw-colors-i-blue-900: 219, 234, 254;
  --tw-colors-i-blue-950: 239, 246, 255;
  --tw-colors-i-indigo-50: 30, 27, 75;
  --tw-colors-i-indigo-100: 49, 46, 129;
  --tw-colors-i-indigo-200: 55, 48, 163;
  --tw-colors-i-indigo-300: 67, 56, 202;
  --tw-colors-i-indigo-400: 79, 70, 229;
  --tw-colors-i-indigo-500: 99, 102, 241;
  --tw-colors-i-indigo-600: 129, 140, 248;
  --tw-colors-i-indigo-700: 165, 180, 252;
  --tw-colors-i-indigo-800: 199, 210, 254;
  --tw-colors-i-indigo-900: 224, 231, 255;
  --tw-colors-i-indigo-950: 238, 242, 255;
  --tw-colors-i-violet-50: 46, 16, 101;
  --tw-colors-i-violet-100: 76, 29, 149;
  --tw-colors-i-violet-200: 91, 33, 182;
  --tw-colors-i-violet-300: 109, 40, 217;
  --tw-colors-i-violet-400: 124, 58, 237;
  --tw-colors-i-violet-500: 139, 92, 246;
  --tw-colors-i-violet-600: 167, 139, 250;
  --tw-colors-i-violet-700: 196, 181, 253;
  --tw-colors-i-violet-800: 221, 214, 254;
  --tw-colors-i-violet-900: 237, 233, 254;
  --tw-colors-i-violet-950: 245, 243, 255;
  --tw-colors-i-purple-50: 59, 7, 100;
  --tw-colors-i-purple-100: 88, 28, 135;
  --tw-colors-i-purple-200: 107, 33, 168;
  --tw-colors-i-purple-300: 126, 34, 206;
  --tw-colors-i-purple-400: 147, 51, 234;
  --tw-colors-i-purple-500: 168, 85, 247;
  --tw-colors-i-purple-600: 192, 132, 252;
  --tw-colors-i-purple-700: 216, 180, 254;
  --tw-colors-i-purple-800: 233, 213, 255;
  --tw-colors-i-purple-900: 243, 232, 255;
  --tw-colors-i-purple-950: 250, 245, 255;
  --tw-colors-i-fuchsia-50: 74, 4, 78;
  --tw-colors-i-fuchsia-100: 112, 26, 117;
  --tw-colors-i-fuchsia-200: 134, 25, 143;
  --tw-colors-i-fuchsia-300: 162, 28, 175;
  --tw-colors-i-fuchsia-400: 192, 38, 211;
  --tw-colors-i-fuchsia-500: 217, 70, 239;
  --tw-colors-i-fuchsia-600: 232, 121, 249;
  --tw-colors-i-fuchsia-700: 240, 171, 252;
  --tw-colors-i-fuchsia-800: 245, 208, 254;
  --tw-colors-i-fuchsia-900: 250, 232, 255;
  --tw-colors-i-fuchsia-950: 253, 244, 255;
  --tw-colors-i-pink-50: 80, 7, 36;
  --tw-colors-i-pink-100: 131, 24, 67;
  --tw-colors-i-pink-200: 157, 23, 77;
  --tw-colors-i-pink-300: 190, 24, 93;
  --tw-colors-i-pink-400: 219, 39, 119;
  --tw-colors-i-pink-500: 236, 72, 153;
  --tw-colors-i-pink-600: 244, 114, 182;
  --tw-colors-i-pink-700: 249, 168, 212;
  --tw-colors-i-pink-800: 251, 207, 232;
  --tw-colors-i-pink-900: 252, 231, 243;
  --tw-colors-i-pink-950: 253, 242, 248;
  --tw-colors-i-rose-50: 76, 5, 25;
  --tw-colors-i-rose-100: 136, 19, 55;
  --tw-colors-i-rose-200: 159, 18, 57;
  --tw-colors-i-rose-300: 190, 18, 60;
  --tw-colors-i-rose-400: 225, 29, 72;
  --tw-colors-i-rose-500: 244, 63, 94;
  --tw-colors-i-rose-600: 251, 113, 133;
  --tw-colors-i-rose-700: 253, 164, 175;
  --tw-colors-i-rose-800: 254, 205, 211;
  --tw-colors-i-rose-900: 255, 228, 230;
  --tw-colors-i-rose-950: 255, 241, 242;
  --tw-colors-i-black: 255, 255, 255;
  --tw-colors-i-white: 0, 0, 0;
}

html.light {
  --tw-colors-i-slate-50: 248, 250, 252;
  --tw-colors-i-slate-100: 241, 245, 249;
  --tw-colors-i-slate-200: 226, 232, 240;
  --tw-colors-i-slate-300: 203, 213, 225;
  --tw-colors-i-slate-400: 148, 163, 184;
  --tw-colors-i-slate-500: 100, 116, 139;
  --tw-colors-i-slate-600: 71, 85, 105;
  --tw-colors-i-slate-700: 51, 65, 85;
  --tw-colors-i-slate-800: 30, 41, 59;
  --tw-colors-i-slate-900: 15, 23, 42;
  --tw-colors-i-slate-950: 2, 6, 23;
  --tw-colors-i-gray-50: 249, 250, 251;
  --tw-colors-i-gray-100: 243, 244, 246;
  --tw-colors-i-gray-200: 229, 231, 235;
  --tw-colors-i-gray-300: 209, 213, 219;
  --tw-colors-i-gray-400: 156, 163, 175;
  --tw-colors-i-gray-500: 107, 114, 128;
  --tw-colors-i-gray-600: 75, 85, 99;
  --tw-colors-i-gray-700: 55, 65, 81;
  --tw-colors-i-gray-800: 31, 41, 55;
  --tw-colors-i-gray-900: 17, 24, 39;
  --tw-colors-i-gray-950: 3, 7, 18;
  --tw-colors-i-zinc-50: 250, 250, 250;
  --tw-colors-i-zinc-100: 244, 244, 245;
  --tw-colors-i-zinc-200: 228, 228, 231;
  --tw-colors-i-zinc-300: 212, 212, 216;
  --tw-colors-i-zinc-400: 161, 161, 170;
  --tw-colors-i-zinc-500: 113, 113, 122;
  --tw-colors-i-zinc-600: 82, 82, 91;
  --tw-colors-i-zinc-700: 63, 63, 70;
  --tw-colors-i-zinc-800: 39, 39, 42;
  --tw-colors-i-zinc-900: 24, 24, 27;
  --tw-colors-i-zinc-950: 9, 9, 11;
  --tw-colors-i-neutral-50: 250, 250, 250;
  --tw-colors-i-neutral-100: 245, 245, 245;
  --tw-colors-i-neutral-200: 229, 229, 229;
  --tw-colors-i-neutral-300: 212, 212, 212;
  --tw-colors-i-neutral-400: 163, 163, 163;
  --tw-colors-i-neutral-500: 115, 115, 115;
  --tw-colors-i-neutral-600: 82, 82, 82;
  --tw-colors-i-neutral-700: 64, 64, 64;
  --tw-colors-i-neutral-800: 38, 38, 38;
  --tw-colors-i-neutral-900: 23, 23, 23;
  --tw-colors-i-neutral-950: 10, 10, 10;
  --tw-colors-i-stone-50: 250, 250, 249;
  --tw-colors-i-stone-100: 245, 245, 244;
  --tw-colors-i-stone-200: 231, 229, 228;
  --tw-colors-i-stone-300: 214, 211, 209;
  --tw-colors-i-stone-400: 168, 162, 158;
  --tw-colors-i-stone-500: 120, 113, 108;
  --tw-colors-i-stone-600: 87, 83, 78;
  --tw-colors-i-stone-700: 68, 64, 60;
  --tw-colors-i-stone-800: 41, 37, 36;
  --tw-colors-i-stone-900: 28, 25, 23;
  --tw-colors-i-stone-950: 12, 10, 9;
  --tw-colors-i-red-50: 254, 242, 242;
  --tw-colors-i-red-100: 254, 226, 226;
  --tw-colors-i-red-200: 254, 202, 202;
  --tw-colors-i-red-300: 252, 165, 165;
  --tw-colors-i-red-400: 248, 113, 113;
  --tw-colors-i-red-500: 239, 68, 68;
  --tw-colors-i-red-600: 220, 38, 38;
  --tw-colors-i-red-700: 185, 28, 28;
  --tw-colors-i-red-800: 153, 27, 27;
  --tw-colors-i-red-900: 127, 29, 29;
  --tw-colors-i-red-950: 69, 10, 10;
  --tw-colors-i-orange-50: 255, 247, 237;
  --tw-colors-i-orange-100: 255, 237, 213;
  --tw-colors-i-orange-200: 254, 215, 170;
  --tw-colors-i-orange-300: 253, 186, 116;
  --tw-colors-i-orange-400: 251, 146, 60;
  --tw-colors-i-orange-500: 249, 115, 22;
  --tw-colors-i-orange-600: 234, 88, 12;
  --tw-colors-i-orange-700: 194, 65, 12;
  --tw-colors-i-orange-800: 154, 52, 18;
  --tw-colors-i-orange-900: 124, 45, 18;
  --tw-colors-i-orange-950: 67, 20, 7;
  --tw-colors-i-amber-50: 255, 251, 235;
  --tw-colors-i-amber-100: 254, 243, 199;
  --tw-colors-i-amber-200: 253, 230, 138;
  --tw-colors-i-amber-300: 252, 211, 77;
  --tw-colors-i-amber-400: 251, 191, 36;
  --tw-colors-i-amber-500: 245, 158, 11;
  --tw-colors-i-amber-600: 217, 119, 6;
  --tw-colors-i-amber-700: 180, 83, 9;
  --tw-colors-i-amber-800: 146, 64, 14;
  --tw-colors-i-amber-900: 120, 53, 15;
  --tw-colors-i-amber-950: 69, 26, 3;
  --tw-colors-i-yellow-50: 254, 252, 232;
  --tw-colors-i-yellow-100: 254, 249, 195;
  --tw-colors-i-yellow-200: 254, 240, 138;
  --tw-colors-i-yellow-300: 253, 224, 71;
  --tw-colors-i-yellow-400: 250, 204, 21;
  --tw-colors-i-yellow-500: 234, 179, 8;
  --tw-colors-i-yellow-600: 202, 138, 4;
  --tw-colors-i-yellow-700: 161, 98, 7;
  --tw-colors-i-yellow-800: 133, 77, 14;
  --tw-colors-i-yellow-900: 113, 63, 18;
  --tw-colors-i-yellow-950: 66, 32, 6;
  --tw-colors-i-lime-50: 247, 254, 231;
  --tw-colors-i-lime-100: 236, 252, 203;
  --tw-colors-i-lime-200: 217, 249, 157;
  --tw-colors-i-lime-300: 190, 242, 100;
  --tw-colors-i-lime-400: 163, 230, 53;
  --tw-colors-i-lime-500: 132, 204, 22;
  --tw-colors-i-lime-600: 101, 163, 13;
  --tw-colors-i-lime-700: 77, 124, 15;
  --tw-colors-i-lime-800: 63, 98, 18;
  --tw-colors-i-lime-900: 54, 83, 20;
  --tw-colors-i-lime-950: 26, 46, 5;
  --tw-colors-i-green-50: 240, 253, 244;
  --tw-colors-i-green-100: 220, 252, 231;
  --tw-colors-i-green-200: 187, 247, 208;
  --tw-colors-i-green-300: 134, 239, 172;
  --tw-colors-i-green-400: 74, 222, 128;
  --tw-colors-i-green-500: 34, 197, 94;
  --tw-colors-i-green-600: 22, 163, 74;
  --tw-colors-i-green-700: 21, 128, 61;
  --tw-colors-i-green-800: 22, 101, 52;
  --tw-colors-i-green-900: 20, 83, 45;
  --tw-colors-i-green-950: 5, 46, 22;
  --tw-colors-i-emerald-50: 236, 253, 245;
  --tw-colors-i-emerald-100: 209, 250, 229;
  --tw-colors-i-emerald-200: 167, 243, 208;
  --tw-colors-i-emerald-300: 110, 231, 183;
  --tw-colors-i-emerald-400: 52, 211, 153;
  --tw-colors-i-emerald-500: 16, 185, 129;
  --tw-colors-i-emerald-600: 5, 150, 105;
  --tw-colors-i-emerald-700: 4, 120, 87;
  --tw-colors-i-emerald-800: 6, 95, 70;
  --tw-colors-i-emerald-900: 6, 78, 59;
  --tw-colors-i-emerald-950: 2, 44, 34;
  --tw-colors-i-teal-50: 240, 253, 250;
  --tw-colors-i-teal-100: 204, 251, 241;
  --tw-colors-i-teal-200: 153, 246, 228;
  --tw-colors-i-teal-300: 94, 234, 212;
  --tw-colors-i-teal-400: 45, 212, 191;
  --tw-colors-i-teal-500: 20, 184, 166;
  --tw-colors-i-teal-600: 13, 148, 136;
  --tw-colors-i-teal-700: 15, 118, 110;
  --tw-colors-i-teal-800: 17, 94, 89;
  --tw-colors-i-teal-900: 19, 78, 74;
  --tw-colors-i-teal-950: 4, 47, 46;
  --tw-colors-i-cyan-50: 236, 254, 255;
  --tw-colors-i-cyan-100: 207, 250, 254;
  --tw-colors-i-cyan-200: 165, 243, 252;
  --tw-colors-i-cyan-300: 103, 232, 249;
  --tw-colors-i-cyan-400: 34, 211, 238;
  --tw-colors-i-cyan-500: 6, 182, 212;
  --tw-colors-i-cyan-600: 8, 145, 178;
  --tw-colors-i-cyan-700: 14, 116, 144;
  --tw-colors-i-cyan-800: 21, 94, 117;
  --tw-colors-i-cyan-900: 22, 78, 99;
  --tw-colors-i-cyan-950: 8, 51, 68;
  --tw-colors-i-sky-50: 240, 249, 255;
  --tw-colors-i-sky-100: 224, 242, 254;
  --tw-colors-i-sky-200: 186, 230, 253;
  --tw-colors-i-sky-300: 125, 211, 252;
  --tw-colors-i-sky-400: 56, 189, 248;
  --tw-colors-i-sky-500: 14, 165, 233;
  --tw-colors-i-sky-600: 2, 132, 199;
  --tw-colors-i-sky-700: 3, 105, 161;
  --tw-colors-i-sky-800: 7, 89, 133;
  --tw-colors-i-sky-900: 12, 74, 110;
  --tw-colors-i-sky-950: 8, 47, 73;
  --tw-colors-i-blue-50: 239, 246, 255;
  --tw-colors-i-blue-100: 219, 234, 254;
  --tw-colors-i-blue-200: 191, 219, 254;
  --tw-colors-i-blue-300: 147, 197, 253;
  --tw-colors-i-blue-400: 96, 165, 250;
  --tw-colors-i-blue-500: 59, 130, 246;
  --tw-colors-i-blue-600: 37, 99, 235;
  --tw-colors-i-blue-700: 29, 78, 216;
  --tw-colors-i-blue-800: 30, 64, 175;
  --tw-colors-i-blue-900: 30, 58, 138;
  --tw-colors-i-blue-950: 23, 37, 84;
  --tw-colors-i-indigo-50: 238, 242, 255;
  --tw-colors-i-indigo-100: 224, 231, 255;
  --tw-colors-i-indigo-200: 199, 210, 254;
  --tw-colors-i-indigo-300: 165, 180, 252;
  --tw-colors-i-indigo-400: 129, 140, 248;
  --tw-colors-i-indigo-500: 99, 102, 241;
  --tw-colors-i-indigo-600: 79, 70, 229;
  --tw-colors-i-indigo-700: 67, 56, 202;
  --tw-colors-i-indigo-800: 55, 48, 163;
  --tw-colors-i-indigo-900: 49, 46, 129;
  --tw-colors-i-indigo-950: 30, 27, 75;
  --tw-colors-i-violet-50: 245, 243, 255;
  --tw-colors-i-violet-100: 237, 233, 254;
  --tw-colors-i-violet-200: 221, 214, 254;
  --tw-colors-i-violet-300: 196, 181, 253;
  --tw-colors-i-violet-400: 167, 139, 250;
  --tw-colors-i-violet-500: 139, 92, 246;
  --tw-colors-i-violet-600: 124, 58, 237;
  --tw-colors-i-violet-700: 109, 40, 217;
  --tw-colors-i-violet-800: 91, 33, 182;
  --tw-colors-i-violet-900: 76, 29, 149;
  --tw-colors-i-violet-950: 46, 16, 101;
  --tw-colors-i-purple-50: 250, 245, 255;
  --tw-colors-i-purple-100: 243, 232, 255;
  --tw-colors-i-purple-200: 233, 213, 255;
  --tw-colors-i-purple-300: 216, 180, 254;
  --tw-colors-i-purple-400: 192, 132, 252;
  --tw-colors-i-purple-500: 168, 85, 247;
  --tw-colors-i-purple-600: 147, 51, 234;
  --tw-colors-i-purple-700: 126, 34, 206;
  --tw-colors-i-purple-800: 107, 33, 168;
  --tw-colors-i-purple-900: 88, 28, 135;
  --tw-colors-i-purple-950: 59, 7, 100;
  --tw-colors-i-fuchsia-50: 253, 244, 255;
  --tw-colors-i-fuchsia-100: 250, 232, 255;
  --tw-colors-i-fuchsia-200: 245, 208, 254;
  --tw-colors-i-fuchsia-300: 240, 171, 252;
  --tw-colors-i-fuchsia-400: 232, 121, 249;
  --tw-colors-i-fuchsia-500: 217, 70, 239;
  --tw-colors-i-fuchsia-600: 192, 38, 211;
  --tw-colors-i-fuchsia-700: 162, 28, 175;
  --tw-colors-i-fuchsia-800: 134, 25, 143;
  --tw-colors-i-fuchsia-900: 112, 26, 117;
  --tw-colors-i-fuchsia-950: 74, 4, 78;
  --tw-colors-i-pink-50: 253, 242, 248;
  --tw-colors-i-pink-100: 252, 231, 243;
  --tw-colors-i-pink-200: 251, 207, 232;
  --tw-colors-i-pink-300: 249, 168, 212;
  --tw-colors-i-pink-400: 244, 114, 182;
  --tw-colors-i-pink-500: 236, 72, 153;
  --tw-colors-i-pink-600: 219, 39, 119;
  --tw-colors-i-pink-700: 190, 24, 93;
  --tw-colors-i-pink-800: 157, 23, 77;
  --tw-colors-i-pink-900: 131, 24, 67;
  --tw-colors-i-pink-950: 80, 7, 36;
  --tw-colors-i-rose-50: 255, 241, 242;
  --tw-colors-i-rose-100: 255, 228, 230;
  --tw-colors-i-rose-200: 254, 205, 211;
  --tw-colors-i-rose-300: 253, 164, 175;
  --tw-colors-i-rose-400: 251, 113, 133;
  --tw-colors-i-rose-500: 244, 63, 94;
  --tw-colors-i-rose-600: 225, 29, 72;
  --tw-colors-i-rose-700: 190, 18, 60;
  --tw-colors-i-rose-800: 159, 18, 57;
  --tw-colors-i-rose-900: 136, 19, 55;
  --tw-colors-i-rose-950: 76, 5, 25;
  --tw-colors-i-black: 0, 0, 0;
  --tw-colors-i-white: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    --tw-colors-i-slate-50: 2, 6, 23;
    --tw-colors-i-slate-100: 15, 23, 42;
    --tw-colors-i-slate-200: 30, 41, 59;
    --tw-colors-i-slate-300: 51, 65, 85;
    --tw-colors-i-slate-400: 71, 85, 105;
    --tw-colors-i-slate-500: 100, 116, 139;
    --tw-colors-i-slate-600: 148, 163, 184;
    --tw-colors-i-slate-700: 203, 213, 225;
    --tw-colors-i-slate-800: 226, 232, 240;
    --tw-colors-i-slate-900: 241, 245, 249;
    --tw-colors-i-slate-950: 248, 250, 252;
    --tw-colors-i-gray-50: 3, 7, 18;
    --tw-colors-i-gray-100: 17, 24, 39;
    --tw-colors-i-gray-200: 31, 41, 55;
    --tw-colors-i-gray-300: 55, 65, 81;
    --tw-colors-i-gray-400: 75, 85, 99;
    --tw-colors-i-gray-500: 107, 114, 128;
    --tw-colors-i-gray-600: 156, 163, 175;
    --tw-colors-i-gray-700: 209, 213, 219;
    --tw-colors-i-gray-800: 229, 231, 235;
    --tw-colors-i-gray-900: 243, 244, 246;
    --tw-colors-i-gray-950: 249, 250, 251;
    --tw-colors-i-zinc-50: 9, 9, 11;
    --tw-colors-i-zinc-100: 24, 24, 27;
    --tw-colors-i-zinc-200: 39, 39, 42;
    --tw-colors-i-zinc-300: 63, 63, 70;
    --tw-colors-i-zinc-400: 82, 82, 91;
    --tw-colors-i-zinc-500: 113, 113, 122;
    --tw-colors-i-zinc-600: 161, 161, 170;
    --tw-colors-i-zinc-700: 212, 212, 216;
    --tw-colors-i-zinc-800: 228, 228, 231;
    --tw-colors-i-zinc-900: 244, 244, 245;
    --tw-colors-i-zinc-950: 250, 250, 250;
    --tw-colors-i-neutral-50: 10, 10, 10;
    --tw-colors-i-neutral-100: 23, 23, 23;
    --tw-colors-i-neutral-200: 38, 38, 38;
    --tw-colors-i-neutral-300: 64, 64, 64;
    --tw-colors-i-neutral-400: 82, 82, 82;
    --tw-colors-i-neutral-500: 115, 115, 115;
    --tw-colors-i-neutral-600: 163, 163, 163;
    --tw-colors-i-neutral-700: 212, 212, 212;
    --tw-colors-i-neutral-800: 229, 229, 229;
    --tw-colors-i-neutral-900: 245, 245, 245;
    --tw-colors-i-neutral-950: 250, 250, 250;
    --tw-colors-i-stone-50: 12, 10, 9;
    --tw-colors-i-stone-100: 28, 25, 23;
    --tw-colors-i-stone-200: 41, 37, 36;
    --tw-colors-i-stone-300: 68, 64, 60;
    --tw-colors-i-stone-400: 87, 83, 78;
    --tw-colors-i-stone-500: 120, 113, 108;
    --tw-colors-i-stone-600: 168, 162, 158;
    --tw-colors-i-stone-700: 214, 211, 209;
    --tw-colors-i-stone-800: 231, 229, 228;
    --tw-colors-i-stone-900: 245, 245, 244;
    --tw-colors-i-stone-950: 250, 250, 249;
    --tw-colors-i-red-50: 69, 10, 10;
    --tw-colors-i-red-100: 127, 29, 29;
    --tw-colors-i-red-200: 153, 27, 27;
    --tw-colors-i-red-300: 185, 28, 28;
    --tw-colors-i-red-400: 220, 38, 38;
    --tw-colors-i-red-500: 239, 68, 68;
    --tw-colors-i-red-600: 248, 113, 113;
    --tw-colors-i-red-700: 252, 165, 165;
    --tw-colors-i-red-800: 254, 202, 202;
    --tw-colors-i-red-900: 254, 226, 226;
    --tw-colors-i-red-950: 254, 242, 242;
    --tw-colors-i-orange-50: 67, 20, 7;
    --tw-colors-i-orange-100: 124, 45, 18;
    --tw-colors-i-orange-200: 154, 52, 18;
    --tw-colors-i-orange-300: 194, 65, 12;
    --tw-colors-i-orange-400: 234, 88, 12;
    --tw-colors-i-orange-500: 249, 115, 22;
    --tw-colors-i-orange-600: 251, 146, 60;
    --tw-colors-i-orange-700: 253, 186, 116;
    --tw-colors-i-orange-800: 254, 215, 170;
    --tw-colors-i-orange-900: 255, 237, 213;
    --tw-colors-i-orange-950: 255, 247, 237;
    --tw-colors-i-amber-50: 69, 26, 3;
    --tw-colors-i-amber-100: 120, 53, 15;
    --tw-colors-i-amber-200: 146, 64, 14;
    --tw-colors-i-amber-300: 180, 83, 9;
    --tw-colors-i-amber-400: 217, 119, 6;
    --tw-colors-i-amber-500: 245, 158, 11;
    --tw-colors-i-amber-600: 251, 191, 36;
    --tw-colors-i-amber-700: 252, 211, 77;
    --tw-colors-i-amber-800: 253, 230, 138;
    --tw-colors-i-amber-900: 254, 243, 199;
    --tw-colors-i-amber-950: 255, 251, 235;
    --tw-colors-i-yellow-50: 66, 32, 6;
    --tw-colors-i-yellow-100: 113, 63, 18;
    --tw-colors-i-yellow-200: 133, 77, 14;
    --tw-colors-i-yellow-300: 161, 98, 7;
    --tw-colors-i-yellow-400: 202, 138, 4;
    --tw-colors-i-yellow-500: 234, 179, 8;
    --tw-colors-i-yellow-600: 250, 204, 21;
    --tw-colors-i-yellow-700: 253, 224, 71;
    --tw-colors-i-yellow-800: 254, 240, 138;
    --tw-colors-i-yellow-900: 254, 249, 195;
    --tw-colors-i-yellow-950: 254, 252, 232;
    --tw-colors-i-lime-50: 26, 46, 5;
    --tw-colors-i-lime-100: 54, 83, 20;
    --tw-colors-i-lime-200: 63, 98, 18;
    --tw-colors-i-lime-300: 77, 124, 15;
    --tw-colors-i-lime-400: 101, 163, 13;
    --tw-colors-i-lime-500: 132, 204, 22;
    --tw-colors-i-lime-600: 163, 230, 53;
    --tw-colors-i-lime-700: 190, 242, 100;
    --tw-colors-i-lime-800: 217, 249, 157;
    --tw-colors-i-lime-900: 236, 252, 203;
    --tw-colors-i-lime-950: 247, 254, 231;
    --tw-colors-i-green-50: 5, 46, 22;
    --tw-colors-i-green-100: 20, 83, 45;
    --tw-colors-i-green-200: 22, 101, 52;
    --tw-colors-i-green-300: 21, 128, 61;
    --tw-colors-i-green-400: 22, 163, 74;
    --tw-colors-i-green-500: 34, 197, 94;
    --tw-colors-i-green-600: 74, 222, 128;
    --tw-colors-i-green-700: 134, 239, 172;
    --tw-colors-i-green-800: 187, 247, 208;
    --tw-colors-i-green-900: 220, 252, 231;
    --tw-colors-i-green-950: 240, 253, 244;
    --tw-colors-i-emerald-50: 2, 44, 34;
    --tw-colors-i-emerald-100: 6, 78, 59;
    --tw-colors-i-emerald-200: 6, 95, 70;
    --tw-colors-i-emerald-300: 4, 120, 87;
    --tw-colors-i-emerald-400: 5, 150, 105;
    --tw-colors-i-emerald-500: 16, 185, 129;
    --tw-colors-i-emerald-600: 52, 211, 153;
    --tw-colors-i-emerald-700: 110, 231, 183;
    --tw-colors-i-emerald-800: 167, 243, 208;
    --tw-colors-i-emerald-900: 209, 250, 229;
    --tw-colors-i-emerald-950: 236, 253, 245;
    --tw-colors-i-teal-50: 4, 47, 46;
    --tw-colors-i-teal-100: 19, 78, 74;
    --tw-colors-i-teal-200: 17, 94, 89;
    --tw-colors-i-teal-300: 15, 118, 110;
    --tw-colors-i-teal-400: 13, 148, 136;
    --tw-colors-i-teal-500: 20, 184, 166;
    --tw-colors-i-teal-600: 45, 212, 191;
    --tw-colors-i-teal-700: 94, 234, 212;
    --tw-colors-i-teal-800: 153, 246, 228;
    --tw-colors-i-teal-900: 204, 251, 241;
    --tw-colors-i-teal-950: 240, 253, 250;
    --tw-colors-i-cyan-50: 8, 51, 68;
    --tw-colors-i-cyan-100: 22, 78, 99;
    --tw-colors-i-cyan-200: 21, 94, 117;
    --tw-colors-i-cyan-300: 14, 116, 144;
    --tw-colors-i-cyan-400: 8, 145, 178;
    --tw-colors-i-cyan-500: 6, 182, 212;
    --tw-colors-i-cyan-600: 34, 211, 238;
    --tw-colors-i-cyan-700: 103, 232, 249;
    --tw-colors-i-cyan-800: 165, 243, 252;
    --tw-colors-i-cyan-900: 207, 250, 254;
    --tw-colors-i-cyan-950: 236, 254, 255;
    --tw-colors-i-sky-50: 8, 47, 73;
    --tw-colors-i-sky-100: 12, 74, 110;
    --tw-colors-i-sky-200: 7, 89, 133;
    --tw-colors-i-sky-300: 3, 105, 161;
    --tw-colors-i-sky-400: 2, 132, 199;
    --tw-colors-i-sky-500: 14, 165, 233;
    --tw-colors-i-sky-600: 56, 189, 248;
    --tw-colors-i-sky-700: 125, 211, 252;
    --tw-colors-i-sky-800: 186, 230, 253;
    --tw-colors-i-sky-900: 224, 242, 254;
    --tw-colors-i-sky-950: 240, 249, 255;
    --tw-colors-i-blue-50: 23, 37, 84;
    --tw-colors-i-blue-100: 30, 58, 138;
    --tw-colors-i-blue-200: 30, 64, 175;
    --tw-colors-i-blue-300: 29, 78, 216;
    --tw-colors-i-blue-400: 37, 99, 235;
    --tw-colors-i-blue-500: 59, 130, 246;
    --tw-colors-i-blue-600: 96, 165, 250;
    --tw-colors-i-blue-700: 147, 197, 253;
    --tw-colors-i-blue-800: 191, 219, 254;
    --tw-colors-i-blue-900: 219, 234, 254;
    --tw-colors-i-blue-950: 239, 246, 255;
    --tw-colors-i-indigo-50: 30, 27, 75;
    --tw-colors-i-indigo-100: 49, 46, 129;
    --tw-colors-i-indigo-200: 55, 48, 163;
    --tw-colors-i-indigo-300: 67, 56, 202;
    --tw-colors-i-indigo-400: 79, 70, 229;
    --tw-colors-i-indigo-500: 99, 102, 241;
    --tw-colors-i-indigo-600: 129, 140, 248;
    --tw-colors-i-indigo-700: 165, 180, 252;
    --tw-colors-i-indigo-800: 199, 210, 254;
    --tw-colors-i-indigo-900: 224, 231, 255;
    --tw-colors-i-indigo-950: 238, 242, 255;
    --tw-colors-i-violet-50: 46, 16, 101;
    --tw-colors-i-violet-100: 76, 29, 149;
    --tw-colors-i-violet-200: 91, 33, 182;
    --tw-colors-i-violet-300: 109, 40, 217;
    --tw-colors-i-violet-400: 124, 58, 237;
    --tw-colors-i-violet-500: 139, 92, 246;
    --tw-colors-i-violet-600: 167, 139, 250;
    --tw-colors-i-violet-700: 196, 181, 253;
    --tw-colors-i-violet-800: 221, 214, 254;
    --tw-colors-i-violet-900: 237, 233, 254;
    --tw-colors-i-violet-950: 245, 243, 255;
    --tw-colors-i-purple-50: 59, 7, 100;
    --tw-colors-i-purple-100: 88, 28, 135;
    --tw-colors-i-purple-200: 107, 33, 168;
    --tw-colors-i-purple-300: 126, 34, 206;
    --tw-colors-i-purple-400: 147, 51, 234;
    --tw-colors-i-purple-500: 168, 85, 247;
    --tw-colors-i-purple-600: 192, 132, 252;
    --tw-colors-i-purple-700: 216, 180, 254;
    --tw-colors-i-purple-800: 233, 213, 255;
    --tw-colors-i-purple-900: 243, 232, 255;
    --tw-colors-i-purple-950: 250, 245, 255;
    --tw-colors-i-fuchsia-50: 74, 4, 78;
    --tw-colors-i-fuchsia-100: 112, 26, 117;
    --tw-colors-i-fuchsia-200: 134, 25, 143;
    --tw-colors-i-fuchsia-300: 162, 28, 175;
    --tw-colors-i-fuchsia-400: 192, 38, 211;
    --tw-colors-i-fuchsia-500: 217, 70, 239;
    --tw-colors-i-fuchsia-600: 232, 121, 249;
    --tw-colors-i-fuchsia-700: 240, 171, 252;
    --tw-colors-i-fuchsia-800: 245, 208, 254;
    --tw-colors-i-fuchsia-900: 250, 232, 255;
    --tw-colors-i-fuchsia-950: 253, 244, 255;
    --tw-colors-i-pink-50: 80, 7, 36;
    --tw-colors-i-pink-100: 131, 24, 67;
    --tw-colors-i-pink-200: 157, 23, 77;
    --tw-colors-i-pink-300: 190, 24, 93;
    --tw-colors-i-pink-400: 219, 39, 119;
    --tw-colors-i-pink-500: 236, 72, 153;
    --tw-colors-i-pink-600: 244, 114, 182;
    --tw-colors-i-pink-700: 249, 168, 212;
    --tw-colors-i-pink-800: 251, 207, 232;
    --tw-colors-i-pink-900: 252, 231, 243;
    --tw-colors-i-pink-950: 253, 242, 248;
    --tw-colors-i-rose-50: 76, 5, 25;
    --tw-colors-i-rose-100: 136, 19, 55;
    --tw-colors-i-rose-200: 159, 18, 57;
    --tw-colors-i-rose-300: 190, 18, 60;
    --tw-colors-i-rose-400: 225, 29, 72;
    --tw-colors-i-rose-500: 244, 63, 94;
    --tw-colors-i-rose-600: 251, 113, 133;
    --tw-colors-i-rose-700: 253, 164, 175;
    --tw-colors-i-rose-800: 254, 205, 211;
    --tw-colors-i-rose-900: 255, 228, 230;
    --tw-colors-i-rose-950: 255, 241, 242;
    --tw-colors-i-black: 255, 255, 255;
    --tw-colors-i-white: 0, 0, 0;
  }
}

@media (prefers-color-scheme: light) {
  html:not(.dark) {
    --tw-colors-i-slate-50: 248, 250, 252;
    --tw-colors-i-slate-100: 241, 245, 249;
    --tw-colors-i-slate-200: 226, 232, 240;
    --tw-colors-i-slate-300: 203, 213, 225;
    --tw-colors-i-slate-400: 148, 163, 184;
    --tw-colors-i-slate-500: 100, 116, 139;
    --tw-colors-i-slate-600: 71, 85, 105;
    --tw-colors-i-slate-700: 51, 65, 85;
    --tw-colors-i-slate-800: 30, 41, 59;
    --tw-colors-i-slate-900: 15, 23, 42;
    --tw-colors-i-slate-950: 2, 6, 23;
    --tw-colors-i-gray-50: 249, 250, 251;
    --tw-colors-i-gray-100: 243, 244, 246;
    --tw-colors-i-gray-200: 229, 231, 235;
    --tw-colors-i-gray-300: 209, 213, 219;
    --tw-colors-i-gray-400: 156, 163, 175;
    --tw-colors-i-gray-500: 107, 114, 128;
    --tw-colors-i-gray-600: 75, 85, 99;
    --tw-colors-i-gray-700: 55, 65, 81;
    --tw-colors-i-gray-800: 31, 41, 55;
    --tw-colors-i-gray-900: 17, 24, 39;
    --tw-colors-i-gray-950: 3, 7, 18;
    --tw-colors-i-zinc-50: 250, 250, 250;
    --tw-colors-i-zinc-100: 244, 244, 245;
    --tw-colors-i-zinc-200: 228, 228, 231;
    --tw-colors-i-zinc-300: 212, 212, 216;
    --tw-colors-i-zinc-400: 161, 161, 170;
    --tw-colors-i-zinc-500: 113, 113, 122;
    --tw-colors-i-zinc-600: 82, 82, 91;
    --tw-colors-i-zinc-700: 63, 63, 70;
    --tw-colors-i-zinc-800: 39, 39, 42;
    --tw-colors-i-zinc-900: 24, 24, 27;
    --tw-colors-i-zinc-950: 9, 9, 11;
    --tw-colors-i-neutral-50: 250, 250, 250;
    --tw-colors-i-neutral-100: 245, 245, 245;
    --tw-colors-i-neutral-200: 229, 229, 229;
    --tw-colors-i-neutral-300: 212, 212, 212;
    --tw-colors-i-neutral-400: 163, 163, 163;
    --tw-colors-i-neutral-500: 115, 115, 115;
    --tw-colors-i-neutral-600: 82, 82, 82;
    --tw-colors-i-neutral-700: 64, 64, 64;
    --tw-colors-i-neutral-800: 38, 38, 38;
    --tw-colors-i-neutral-900: 23, 23, 23;
    --tw-colors-i-neutral-950: 10, 10, 10;
    --tw-colors-i-stone-50: 250, 250, 249;
    --tw-colors-i-stone-100: 245, 245, 244;
    --tw-colors-i-stone-200: 231, 229, 228;
    --tw-colors-i-stone-300: 214, 211, 209;
    --tw-colors-i-stone-400: 168, 162, 158;
    --tw-colors-i-stone-500: 120, 113, 108;
    --tw-colors-i-stone-600: 87, 83, 78;
    --tw-colors-i-stone-700: 68, 64, 60;
    --tw-colors-i-stone-800: 41, 37, 36;
    --tw-colors-i-stone-900: 28, 25, 23;
    --tw-colors-i-stone-950: 12, 10, 9;
    --tw-colors-i-red-50: 254, 242, 242;
    --tw-colors-i-red-100: 254, 226, 226;
    --tw-colors-i-red-200: 254, 202, 202;
    --tw-colors-i-red-300: 252, 165, 165;
    --tw-colors-i-red-400: 248, 113, 113;
    --tw-colors-i-red-500: 239, 68, 68;
    --tw-colors-i-red-600: 220, 38, 38;
    --tw-colors-i-red-700: 185, 28, 28;
    --tw-colors-i-red-800: 153, 27, 27;
    --tw-colors-i-red-900: 127, 29, 29;
    --tw-colors-i-red-950: 69, 10, 10;
    --tw-colors-i-orange-50: 255, 247, 237;
    --tw-colors-i-orange-100: 255, 237, 213;
    --tw-colors-i-orange-200: 254, 215, 170;
    --tw-colors-i-orange-300: 253, 186, 116;
    --tw-colors-i-orange-400: 251, 146, 60;
    --tw-colors-i-orange-500: 249, 115, 22;
    --tw-colors-i-orange-600: 234, 88, 12;
    --tw-colors-i-orange-700: 194, 65, 12;
    --tw-colors-i-orange-800: 154, 52, 18;
    --tw-colors-i-orange-900: 124, 45, 18;
    --tw-colors-i-orange-950: 67, 20, 7;
    --tw-colors-i-amber-50: 255, 251, 235;
    --tw-colors-i-amber-100: 254, 243, 199;
    --tw-colors-i-amber-200: 253, 230, 138;
    --tw-colors-i-amber-300: 252, 211, 77;
    --tw-colors-i-amber-400: 251, 191, 36;
    --tw-colors-i-amber-500: 245, 158, 11;
    --tw-colors-i-amber-600: 217, 119, 6;
    --tw-colors-i-amber-700: 180, 83, 9;
    --tw-colors-i-amber-800: 146, 64, 14;
    --tw-colors-i-amber-900: 120, 53, 15;
    --tw-colors-i-amber-950: 69, 26, 3;
    --tw-colors-i-yellow-50: 254, 252, 232;
    --tw-colors-i-yellow-100: 254, 249, 195;
    --tw-colors-i-yellow-200: 254, 240, 138;
    --tw-colors-i-yellow-300: 253, 224, 71;
    --tw-colors-i-yellow-400: 250, 204, 21;
    --tw-colors-i-yellow-500: 234, 179, 8;
    --tw-colors-i-yellow-600: 202, 138, 4;
    --tw-colors-i-yellow-700: 161, 98, 7;
    --tw-colors-i-yellow-800: 133, 77, 14;
    --tw-colors-i-yellow-900: 113, 63, 18;
    --tw-colors-i-yellow-950: 66, 32, 6;
    --tw-colors-i-lime-50: 247, 254, 231;
    --tw-colors-i-lime-100: 236, 252, 203;
    --tw-colors-i-lime-200: 217, 249, 157;
    --tw-colors-i-lime-300: 190, 242, 100;
    --tw-colors-i-lime-400: 163, 230, 53;
    --tw-colors-i-lime-500: 132, 204, 22;
    --tw-colors-i-lime-600: 101, 163, 13;
    --tw-colors-i-lime-700: 77, 124, 15;
    --tw-colors-i-lime-800: 63, 98, 18;
    --tw-colors-i-lime-900: 54, 83, 20;
    --tw-colors-i-lime-950: 26, 46, 5;
    --tw-colors-i-green-50: 240, 253, 244;
    --tw-colors-i-green-100: 220, 252, 231;
    --tw-colors-i-green-200: 187, 247, 208;
    --tw-colors-i-green-300: 134, 239, 172;
    --tw-colors-i-green-400: 74, 222, 128;
    --tw-colors-i-green-500: 34, 197, 94;
    --tw-colors-i-green-600: 22, 163, 74;
    --tw-colors-i-green-700: 21, 128, 61;
    --tw-colors-i-green-800: 22, 101, 52;
    --tw-colors-i-green-900: 20, 83, 45;
    --tw-colors-i-green-950: 5, 46, 22;
    --tw-colors-i-emerald-50: 236, 253, 245;
    --tw-colors-i-emerald-100: 209, 250, 229;
    --tw-colors-i-emerald-200: 167, 243, 208;
    --tw-colors-i-emerald-300: 110, 231, 183;
    --tw-colors-i-emerald-400: 52, 211, 153;
    --tw-colors-i-emerald-500: 16, 185, 129;
    --tw-colors-i-emerald-600: 5, 150, 105;
    --tw-colors-i-emerald-700: 4, 120, 87;
    --tw-colors-i-emerald-800: 6, 95, 70;
    --tw-colors-i-emerald-900: 6, 78, 59;
    --tw-colors-i-emerald-950: 2, 44, 34;
    --tw-colors-i-teal-50: 240, 253, 250;
    --tw-colors-i-teal-100: 204, 251, 241;
    --tw-colors-i-teal-200: 153, 246, 228;
    --tw-colors-i-teal-300: 94, 234, 212;
    --tw-colors-i-teal-400: 45, 212, 191;
    --tw-colors-i-teal-500: 20, 184, 166;
    --tw-colors-i-teal-600: 13, 148, 136;
    --tw-colors-i-teal-700: 15, 118, 110;
    --tw-colors-i-teal-800: 17, 94, 89;
    --tw-colors-i-teal-900: 19, 78, 74;
    --tw-colors-i-teal-950: 4, 47, 46;
    --tw-colors-i-cyan-50: 236, 254, 255;
    --tw-colors-i-cyan-100: 207, 250, 254;
    --tw-colors-i-cyan-200: 165, 243, 252;
    --tw-colors-i-cyan-300: 103, 232, 249;
    --tw-colors-i-cyan-400: 34, 211, 238;
    --tw-colors-i-cyan-500: 6, 182, 212;
    --tw-colors-i-cyan-600: 8, 145, 178;
    --tw-colors-i-cyan-700: 14, 116, 144;
    --tw-colors-i-cyan-800: 21, 94, 117;
    --tw-colors-i-cyan-900: 22, 78, 99;
    --tw-colors-i-cyan-950: 8, 51, 68;
    --tw-colors-i-sky-50: 240, 249, 255;
    --tw-colors-i-sky-100: 224, 242, 254;
    --tw-colors-i-sky-200: 186, 230, 253;
    --tw-colors-i-sky-300: 125, 211, 252;
    --tw-colors-i-sky-400: 56, 189, 248;
    --tw-colors-i-sky-500: 14, 165, 233;
    --tw-colors-i-sky-600: 2, 132, 199;
    --tw-colors-i-sky-700: 3, 105, 161;
    --tw-colors-i-sky-800: 7, 89, 133;
    --tw-colors-i-sky-900: 12, 74, 110;
    --tw-colors-i-sky-950: 8, 47, 73;
    --tw-colors-i-blue-50: 239, 246, 255;
    --tw-colors-i-blue-100: 219, 234, 254;
    --tw-colors-i-blue-200: 191, 219, 254;
    --tw-colors-i-blue-300: 147, 197, 253;
    --tw-colors-i-blue-400: 96, 165, 250;
    --tw-colors-i-blue-500: 59, 130, 246;
    --tw-colors-i-blue-600: 37, 99, 235;
    --tw-colors-i-blue-700: 29, 78, 216;
    --tw-colors-i-blue-800: 30, 64, 175;
    --tw-colors-i-blue-900: 30, 58, 138;
    --tw-colors-i-blue-950: 23, 37, 84;
    --tw-colors-i-indigo-50: 238, 242, 255;
    --tw-colors-i-indigo-100: 224, 231, 255;
    --tw-colors-i-indigo-200: 199, 210, 254;
    --tw-colors-i-indigo-300: 165, 180, 252;
    --tw-colors-i-indigo-400: 129, 140, 248;
    --tw-colors-i-indigo-500: 99, 102, 241;
    --tw-colors-i-indigo-600: 79, 70, 229;
    --tw-colors-i-indigo-700: 67, 56, 202;
    --tw-colors-i-indigo-800: 55, 48, 163;
    --tw-colors-i-indigo-900: 49, 46, 129;
    --tw-colors-i-indigo-950: 30, 27, 75;
    --tw-colors-i-violet-50: 245, 243, 255;
    --tw-colors-i-violet-100: 237, 233, 254;
    --tw-colors-i-violet-200: 221, 214, 254;
    --tw-colors-i-violet-300: 196, 181, 253;
    --tw-colors-i-violet-400: 167, 139, 250;
    --tw-colors-i-violet-500: 139, 92, 246;
    --tw-colors-i-violet-600: 124, 58, 237;
    --tw-colors-i-violet-700: 109, 40, 217;
    --tw-colors-i-violet-800: 91, 33, 182;
    --tw-colors-i-violet-900: 76, 29, 149;
    --tw-colors-i-violet-950: 46, 16, 101;
    --tw-colors-i-purple-50: 250, 245, 255;
    --tw-colors-i-purple-100: 243, 232, 255;
    --tw-colors-i-purple-200: 233, 213, 255;
    --tw-colors-i-purple-300: 216, 180, 254;
    --tw-colors-i-purple-400: 192, 132, 252;
    --tw-colors-i-purple-500: 168, 85, 247;
    --tw-colors-i-purple-600: 147, 51, 234;
    --tw-colors-i-purple-700: 126, 34, 206;
    --tw-colors-i-purple-800: 107, 33, 168;
    --tw-colors-i-purple-900: 88, 28, 135;
    --tw-colors-i-purple-950: 59, 7, 100;
    --tw-colors-i-fuchsia-50: 253, 244, 255;
    --tw-colors-i-fuchsia-100: 250, 232, 255;
    --tw-colors-i-fuchsia-200: 245, 208, 254;
    --tw-colors-i-fuchsia-300: 240, 171, 252;
    --tw-colors-i-fuchsia-400: 232, 121, 249;
    --tw-colors-i-fuchsia-500: 217, 70, 239;
    --tw-colors-i-fuchsia-600: 192, 38, 211;
    --tw-colors-i-fuchsia-700: 162, 28, 175;
    --tw-colors-i-fuchsia-800: 134, 25, 143;
    --tw-colors-i-fuchsia-900: 112, 26, 117;
    --tw-colors-i-fuchsia-950: 74, 4, 78;
    --tw-colors-i-pink-50: 253, 242, 248;
    --tw-colors-i-pink-100: 252, 231, 243;
    --tw-colors-i-pink-200: 251, 207, 232;
    --tw-colors-i-pink-300: 249, 168, 212;
    --tw-colors-i-pink-400: 244, 114, 182;
    --tw-colors-i-pink-500: 236, 72, 153;
    --tw-colors-i-pink-600: 219, 39, 119;
    --tw-colors-i-pink-700: 190, 24, 93;
    --tw-colors-i-pink-800: 157, 23, 77;
    --tw-colors-i-pink-900: 131, 24, 67;
    --tw-colors-i-pink-950: 80, 7, 36;
    --tw-colors-i-rose-50: 255, 241, 242;
    --tw-colors-i-rose-100: 255, 228, 230;
    --tw-colors-i-rose-200: 254, 205, 211;
    --tw-colors-i-rose-300: 253, 164, 175;
    --tw-colors-i-rose-400: 251, 113, 133;
    --tw-colors-i-rose-500: 244, 63, 94;
    --tw-colors-i-rose-600: 225, 29, 72;
    --tw-colors-i-rose-700: 190, 18, 60;
    --tw-colors-i-rose-800: 159, 18, 57;
    --tw-colors-i-rose-900: 136, 19, 55;
    --tw-colors-i-rose-950: 76, 5, 25;
    --tw-colors-i-black: 0, 0, 0;
    --tw-colors-i-white: 255, 255, 255;
  }
}
