@import "./variables.css";
@import "./tailwind.css";
@import "./prose.css";
@import "./code.css";
@import "./prism-dark.css";
@import "./css-var.css";

@import url("https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css");
