@import url("https://fastly.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css");

@import "./variables.css";
@import "./tailwind.css";
@import "./prose.css";
@import "./code.css";
@import "./prism-dark.css";
@import "./print.css";
