.prose {
  @apply text-zinc-600 leading-loose;
  word-break: break-word;
}

.prose > p {
  @apply mb-5;
}

.prose img {
  @apply inline-block;
}

.prose > *:first-child {
  @apply mt-0;
}

.prose > *:last-child {
  @apply mb-0;
}

.prose .xlog-anchor {
  @apply ml-1 opacity-0 transition-opacity hover:no-underline;
}

.prose h2:hover .xlog-anchor,
.prose h3:hover .xlog-anchor,
.prose h4:hover .xlog-anchor,
.prose h5:hover .xlog-anchor,
.prose h6:hover .xlog-anchor {
  @apply opacity-100;
}

.prose h2 {
  @apply text-3xl font-semibold;
  @apply my-7;
  @apply text-zinc-900;
}

.prose h3 {
  @apply text-2xl font-semibold;
  @apply my-7;
  @apply text-zinc-900;
}

.prose h4 {
  @apply text-xl font-semibold;
  @apply my-7;
  @apply text-zinc-900;
}

.prose h5 {
  @apply text-lg font-semibold;
  @apply my-7;
  @apply text-zinc-900;
}

.prose h6 {
  @apply text-base font-semibold;
  @apply my-7;
  @apply text-zinc-900;
}

.prose p {
  @apply my-3;
}

.prose blockquote {
  @apply border-l-4 border-zinc-300;
  @apply pl-5;
  @apply my-3;
  @apply text-zinc-500;
}

.prose ul {
  @apply list-disc;
  @apply pl-5;
}

.prose ol {
  @apply list-decimal;
  @apply pl-6;
}

.prose > ul,
.prose > ol {
  @apply my-7;
}

.prose a {
  @apply text-accent;
  @apply hover:underline;
}

.prose pre {
  @apply overflow-auto;
}

.prose .table-wrapper {
  @apply min-w-full rounded-xl text-sm my-7 whitespace-nowrap overflow-auto;
  @apply border border-border;
}

.prose table {
  @apply min-w-full;
}

.prose table thead {
  @apply text-left;
}

.prose table th,
.prose table td {
  @apply px-3;
  @apply py-4;
}

.prose table tbody {
  @apply text-zinc-500;
}

.prose table tbody tr:nth-child(2n-1) {
  @apply bg-zinc-100;
}

.prose iframe {
  max-width: 100%;
}

.prose .task-list-item {
  @apply list-none;
}

.prose > ul > .task-list-item {
  @apply -ml-5;
}

.prose .callout {
  --callout-color: hsl(207, 14%, 62%);
  --callout-background: ;
  --callout-border: hsl(205, 15%, 33%);
  --callout-radius: 8px;
  --callout-padding: 2ch;
  border-width: 1px;
  border-style: solid;
  border-color: var(--callout-border);
  border-radius: var(--callout-radius);
  background: var(--callout-background);
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.prose .callout code,
.prose .callout pre {
  background-color: hsl(0, 0%, 100%, 0.1);
  border: none;
}

.prose .callout-content {
  padding-left: var(--callout-padding);
  padding-right: var(--callout-padding);
}

.prose .callout-content:first-child,
.prose .callout-content:only-child {
  margin-block-start: 0;
}

.prose .callout-content:last-child,
.prose .callout-content:only-child {
  margin-block-end: 0;
}

.prose .callout-indicator {
  display: flex;
  align-items: center;
  padding: var(--callout-padding) var(--callout-padding) 0;
}

.prose .callout-hint {
  margin-inline-end: calc(var(--callout-padding) / 4);
  color: var(--callout-color);
}

.prose .callout-title {
  margin-inline-start: calc(var(--callout-padding) / 4);
  color: var(--callout-color);
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.04em;
}

.prose .callout-note {
  --callout-background: hsla(0, 0%, 0%, 0.05);
  --callout-color: hsl(0, 0%, 43%);
  --callout-border: hsl(0, 0%, 0%, 0.25);
}

:root.dark .prose .callout-note {
  --callout-background: hsl(0, 0%, 100%, 0.05);
  --callout-color: hsl(0, 0%, 43%);
  --callout-border: hsl(0, 0%, 100%, 0.25);
}

.prose .callout-commend {
  --callout-background: hsl(153, 47%, 49%, 0.05);
  --callout-color: hsl(153, 62%, 54%);
  --callout-border: hsl(153, 47%, 49%, 0.25);
}

.prose .callout-warn {
  --callout-background: hsl(45, 100%, 55%, 0.05);
  --callout-color: hsl(45, 97%, 66%);
  --callout-border: hsl(45, 100%, 55%, 0.25);
}

.prose .callout-deter {
  --callout-background: hsl(353, 83%, 58%, 0.05);
  --callout-color: hsl(341, 89%, 63%);
  --callout-border: hsl(353, 83%, 58%, 0.25);
}

.prose .callout-assert {
  --callout-background: rgba(47, 131, 157, 0.05);
  --callout-color: hsl(201, 89%, 63%);
  --callout-border: hsl(195, 61%, 56%, 0.25);
}

.prose .code-wrapper {
  @apply relative text-base;
}

.prose .code-wrapper .copy-button {
  @apply absolute top-3 right-3;
  @apply text-sm space-x-1;
  @apply text-zinc-100 bg-zinc-600/50;
  @apply rounded-lg h-7 px-3 items-center;
  @apply active:mt-[2px];
  @apply hidden;
}

.prose .code-wrapper:hover .copy-button {
  @apply inline-flex;
}

.prose .math {
  @apply max-w-full inline-block overflow-auto align-bottom scrollbar-hide;
}

.xlog-comment .prose {
  @apply leading-normal text-[15px];
}

.xlog-comment .prose blockquote {
  @apply my-1;
}

.xlog-comment .prose p {
  @apply my-1;
}
